# Acceptance Test Report

## Memory Usage (Phpolar\Phpolar\MemoryUsage)
- [x] Memory usage for filtering a response shall be below 72000 bytes

## Project Size (Phpolar\Phpolar\ProjectSize)
- [x] Source code total size shall be below 2200 bytes

