# Acceptance Test Results

## Memory Usage (Phpolar\Phpolar\MemoryUsage)
- [x] Memory usage for filtering a response shall be below 70000 bytes

## Project Size (Phpolar\Phpolar\ProjectSize)
- [x] Source code total size shall be below 2100 bytes
